body {
    background-image: url("Ferry.jpg");
    background-size: cover;
    font-family: 'Inter', 'Lato', 'Poppins', 'Source Sans Pro', 'Montserrat', 'Nunito', 'PT Sans', 'Raleway', 'Arial', sans-serif;

    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 20px;
    display: inline-block;      
    border: 2px solid white;   
    border-radius: 10px;       
    background-color: orange;     
    color: white;               
    padding: 0px 10px;         
    text-align: center;         
    font-family: Arial, sans-serif; 
    font-size: 24px;                   
    transition: 0.3s;
}


h1 {
    font-size: 40px;
    display: inline-block;      
    border: 2px; 
    border-radius: 10px;       
    background-color: orange;     
    color: white;               
    padding: 0px 10px;         
    text-align: center;         
    font-family: Arial, sans-serif;                  
    transition: 0.3s;
}

h2 {
    font-size: 40px;     
    color: black;
                   
    
    
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: blue;
    font-size: 20px;
}

#save-btn {
    background: darkgreen;
    font-size: 20px;
}

#save-el {
    font-size: 30px;
    border: 2px; 
    border-radius: 10px;       
    background-color: black;     
    color: white;               
    padding: 0px 10px;         
    text-align: center;         
    font-family: Arial, sans-serif;                  
    transition: 0.3s;
}

.container {
    max-width: 800px;  
    margin: 0 auto;  
    padding: 20px;  
}

